.boxes {
    width: 600px;

    background-color: yellow;
    display: flex;
    margin: 0 auto; /* 親自身を中央に置く */
    justify-content: center; /* 子要素の中央寄せ */
}

.box1 {
    width: 150px;
    height: 400px;
    background-color: orange;
}

.box2 {
    width: 250px;
    height: 400px;
    background-color: red;
}